
.page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 10px;

    &__main {
        background-color: lightcoral;
        grid-column: 2 / end span;
        grid-row:1 / end span;
    };

    &__nav {
        background-color: lightblue;
        grid-row: 1 / end span;
    };

   

};



